.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vb;
  justify-content: center;
  align-items: center;
  font: 1em times;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: rgb(7, 7, 70) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: -15px !important;
  margin-right: -15px !important;
}


.navbar-brand{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  color: white !important;
  font-size: 48px !important;
  font-weight: bolder !important;
}
@media (min-width: 1200px){
.container {
    max-width: 100vw !important;
}}
.form-group-cards {
  margin-bottom: 25px;
  margin-left: 150px;
}
.d-flex{
  margin-left: 650px;
}
.navbar-brand{
  margin-left: 0px;
}

.form-control {
  margin-right: 10px;
}