.list-group-flush1{
    background-color: #023e8a;
    font-size: small !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-weight: bold;
    padding: 3px 10px;
    padding:0px !important;
    margin-bottom: 0px !important;

}
.card-title-back{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#023e8a;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}
.card-text-back{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.button{
    background-color: black !important;
    block-size:  7mm;
    font-size: x-small;

}
.Card {
    transition: all 0.2s ease;
    cursor: pointer
}

.Card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}
.list-group-item{
    padding:0px !important;
    margin-bottom: 0px !important;
    margin-bottom: 0px !important;
}
@keyframes pulsate {
 
    0% {
        /* A slightly smaller blur radius */
        text-shadow:
          0 0 4px #fff,
          0 0 10px #fff,
          0 0 18px #fff,
          0 0 38px rgb(214, 46, 144),
          0 0 73px rgb(214, 46, 144),
          0 0 80px rgb(214, 46, 144),
          0 0 94px rgb(214, 46, 144),
          0 0 140px rgb(214, 46, 144) ;
      }
  }
.neonText {
        animation: pulsate 2.5s infinite alternate;
    color: white;}   

.message-button{
    margin-top: 10px;
     }