.Card-Img{
        width: 100%;
        height: 25vw;
        object-fit: cover;
        background: linear-gradient(#fff0 0%, #fff0 70%) !important;
}
.Card {
        transition: all 0.2s ease;
        cursor: pointer;
        box-shadow: inset !important;
        border-style: groove !important;
        
    }
.Title{
        font:bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        color: rgb(36, 36, 36);

}
.body{
        background-color: rgb(228, 228, 228);
}
 
    
      