.popup{
    position: fixed;
    background-color: blue;
    justify-content: center;
    align-items: center;
    ;
    
}
.popup-inner{
    position: relative;
    background-color: blue
}
popup-inner .close-btn{
    position: absolute;
    color: blue;
}
.Button{
    size: 5px !important;
}