.front-button{
    background-color:  rgb(7, 7, 70)  !important;
    border-width: 0px;
    margin-top: 10px;
    border-radius: 5%;
    
}
.front-button:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}

.CardFront {
    transition: all 0.2s ease !important;
    cursor: pointer !important;
   
}

.CardFront:hover {
    transform: scale(0.1.0.1) !important;
}